{% extends "accounts/base.html" %}

{% block content %}

    <div class="breadcrumb-section breadcrumb-bg">

        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-2 text-center">

                    <div class="breadcrumb-text">

                        <p>{{ user }}</p>

                        <h1>프로필</h1>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <ul>
        <li>이름 : {{ user.first_name }} {{ user.last_name }}</li>
    </ul>
{% endblock %}
