{% extends "base.html" %}

{% block content %}
    <!-- breadcrumb-section -->

    <div class="breadcrumb-section breadcrumb-bg">

        <div class="container">

            <div class="row">

                <div class="col-lg-8 offset-lg-2 text-center">

                    <div class="breadcrumb-text">

                        <p>결제 테스트</p>

                        <a href="{% url 'payment_new' %}">새 결제 만들기</a>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end breadcrumb section -->
{% endblock %}
